div.info{
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: white;
	width: 12em;
	height: 20em;
	border-radius: 4px;
	padding: 2px;
	opacity: 0.5;

}
div.starName{
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white;
	width: 10em;
	height: 6em;
	border-radius: 4px;
	padding: 2px;
	opacity: 0.5;
}
body{
	margin: 0em;
}